* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

.post{
    margin: auto;
    margin-top: 100px;
    background-color: white;
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.post-header{
    width: 100%;
    height: 10%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span.text {
   height: 80%;
   width: 85%;
   align-self: flex-start;
   font-size: 1em;
   padding: 8px 10px 0px 10px;
}

span.punto {
    margin: 8px 15px 8px 0px;
    align-self: center;
    font-size: 1.5em;

}

span.icon-css {
   height: 80%;
   width: 0%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
   gap: 10px;

}



.post-image{
    width: 100%;
    height: 55%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-footer{
    width:100%;
    height: 35%;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
    font-size: 1em;
    
}

.post-actions{
      display:flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 10px;
      font-size: 1.5em;
}

.left-actions{
    display:flex;
    gap:10px;
}

.body {
    width: 100%;
    height:30%;
    padding: 5px;
    margin: auto;
    font-size: 1em;
    
}